<div class="container">
    <div class="jumbotron" id="jhead">
        <div id="thead">
            <h1>Welcome to a Burger Joint</h1>
            <h3>Create a Burger for yourself</h3>
            <h3>Then you Eat Da Burger (Devour it)!</h3>
        </div>
    </div>

    <div class="container inputc">
        <form class="create-form">
            <div class="form-group">
                <label for="newburger">Create Da Burger</label>
                <input type="text" class="form-control" id="newBurger" placeholder="Pulled Pork with Swiss"
                    name="burger">
            </div>
            <button type="submit" class="btn btn-success mb-3" id="create-burger">Order up!</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center mx-auto" id="leftc">
                <div>
                    <h2>Ordered Burgers</h2>
                </div>
                <hr>
                <p>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <h4 class="leftp">{{this.burger_name}}
                        <button type="button" class="devour-burger btn btn-danger mb-3" id="devour-btn"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}">
                            Devour ME!!
                        </button></h4>
                    {{/unless}}
                    {{/each}}
                </p>
            </div>
            <div class="col text-center mx-auto" id="rightc">
                <div>
                    <h2>Burgers Devoured Today</h2>
                </div>
                <hr>
                <p>
                    {{#each burgers}}
                    {{#if devoured}}
                    <h4 class="rightp">{{this.burger_name}}</h4>
                    {{/if}}
                    {{/each}}
                </p>
            </div>
        </div>
    </div>
</div>